<!DOCTYPE html>
<html lang="en" html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Страница со списком всех людей</title>
</head>
<body>

<h1>Страница со списком всех людей</h1>

<!-- Форма для фильтров и пагинации -->
<form action="/people" method="get">
    <label>
        Сортировать по ФИО:
        <input type="checkbox" name="sort_by_fio" th:checked="${param.sort_by_fio != null}">
    </label>
    <br/>
    <label>
        Страница:
        <input type="number" name="page" min="1" th:value="${param.page != null} ? ${param.page} : 1">
    </label>
    <br/>
    <label>
        Человек на странице:
        <input type="number" name="people_per_page" min="1" th:value="${param.people_per_page != null} ? ${param.people_per_page} : 10">
    </label>
    <br/>
    <button type="submit">Применить</button>
</form>
<br/>

<form th:method="POST" th:action="@{/people/search}">
    <label for="fio_start_with">Найти человека по фио:</label>
    <input type="text" id="fio_start_with" name="fio_start_with" placeholder="Введите ФИО человека" required>
    <button type="submit">Найти</button>
</form>


<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getFio()+', '+ person.getYearOfBirth() + ', ' + person.getNumberPhone() + ', ' + person.getEmail()}">user</a>

</div>
<br/>
<hr/>
<a href="/people/new">Создать нового человека </a>
<br/>
<hr/>
<a href="/">На главную страницу </a>
</body>
</html>